---
title: Favorite JavaScript utilities in single line of code
layout: layouts/base.njk
---

<header class="header">
    <div class="container">
        <div class="header__logo">
            <img src="/assets/logo.png" alt="1 LOC" />
        </div>
        <h1 class="header__heading">{{ collections.posts.length }} Favorite JavaScript Utilities</h1>
        <h3 class='header__subheading'>
            in single line of code! No more!
        </h3>
    </div>

    <div class="header__github">
        <a
            href="https://github.com/phuoc-ng/1loc"
            rel="noopener noreferrer"
            target="_blank"
        >
            GitHub ★ {{ github.stargazers }}
        </a>
    </div>
</header>

<main class="main">
    <div class="container">
    {% set postsByCategory = collections.postsByCategory %}
    {% set numCategories = postsByCategory | countKeys %}
    {% set chunkSize = (products.length / numCategories) | round %}
    {% set productsEachCategory = products | chunk(chunkSize) %}

    {% for category, posts in postsByCategory %}
        <section class="section">
            <div class="section__separator">
                <div class="section__title">{{ category }}</div>
            </div>

            {% for post in posts | reverse %}
            <div class="snippet">
                <h2 class="snippet__header">
                    <div class="snippet__title">{{ post.data.title }}</div>
                </h2>
                <div class="snippet__body">
                    <div class="sample-code">{{ post.templateContent | safe }}</div>
                </div>
            </div>
            {% endfor %}

            {% for product in productsEachCategory[loop.index - 1] %}
            {% include "_product.njk" %}
            {% endfor %}
        </section>
    {% endfor %}
    </div>
</main>