---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
    <url><loc>https://1loc.dev{{ page.url | url }}</loc></url>
{%- endfor %}
</urlset>