.block-snippet {
    border: 1px solid #E6E6E6;
    margin: 1rem 0;
}

.block-snippet__head {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1rem;
}

.block-snippet__title {
    flex: 1;
}

.block-snippet__body {
    display: none;

    &--opened {
        display: block;
    }
}

.block-snippet__body pre {
    font-family: 'Source Code Pro';
    font-size: 0.875rem;
    margin: 0;
    overflow-wrap: break-word;
    padding: 1rem;
}
