.page-home__heading {
    background: linear-gradient(102.66deg, #0465eb, #6ccef8);
    font-size: 3.5rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-home__category {
    background: #fff;
    color: #808080;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
    position: sticky;
    text-align: center;
    top: 3rem;
}

.page-home__category::before,
.page-home__category::after {
    align-self: center;
    border-top: 1px solid #e6e6e6;
    content: '';
}
