.block-home__hero {
    text-align: center;
}

.block-home__category {
    background: #fff;
    color: #808080;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
    position: sticky;
    text-align: center;
    top: 3rem;
}

.block-home__category::before,
.block-home__category::after {
    align-self: center;
    border-top: 1px solid #e6e6e6;
    content: '';
}

.block-home__snippet {
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    margin: 1rem 0;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    padding: 0.25rem 1rem;

    &:hover {
        background: #e5e5e5;
    }
}

.block-home__snippet-index {
    color: #808080;
    margin-right: 0.25rem;
}

.block-home__snippet__title {
    flex: 1;
}
