.block-home__hero {
    text-align: center;
}

.block-home__category {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
    text-align: center;
}

.block-home__category::before,
.block-home__category::after {
    align-self: center;
    border-top: 1px solid #E6E6E6;
    content: '';
}
