---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for category in collections.categories %}
    <url>
        <loc>https://1loc.dev/{{ category | slug }}</loc>
    </url>
    {% endfor %}
    {% for page in collections.all %}
    <url>
        <loc>https://1loc.dev{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
    {% endfor %}
</urlset>