<div class="product" style="background-color: {{ product.themeColor }}">
    <a href="{{ product.url }}" class="product__link">
        <img class="product__logo" src="/assets/{{ product.name | slug }}.png" alt="{{ product.name }} - {{ product.description }}" />
        <h3 class="product__name">{{ product.name }}</h3>
        <div class="product__description">{{ product.description }}</div>
    </a>
</div>