.product {
    border-radius: 0.5rem;
    color: #fff;
    margin: 1rem 0;
    text-align: center;
}

.product__link {
    color: #fff;
    display: block;
    padding: 1rem;
}

.product__logo {
    width: 6rem;
}

.product__name {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.product__description {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
}