.snippet {
    border: 1px solid var(--background);
    margin: 1rem 0;
}
.snippet__header {
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    margin: 0;
    padding: 0.5rem 1rem;
}
.snippet__title {
    flex: 1;
}
.snippet__anchor {
    color: var(--background);
}
.snippet__body--hidden {
    display: none;
}