---
layout: layouts/base.njk
---
{% set previousPost = collections.sortByTitle | getPreviousCollectionItem(page) %}
{% set nextPost = collections.sortByTitle | getNextCollectionItem(page) %}

<div class="container">
    <div class="header">
        <a class="header__link" href="/">/1-loc</a>
        <a class="header__link header__link--primary" href="https://github.com/phuocng/1loc">GitHub {{ github.stargazers }}★</a>
    </div>
    <div class="category">
        <h1 class="category__name">{{ title }}</h1>
        <div class="category__posts">
            {%- for post in collections.groupByCategories[title] -%}
            <div class="card__item">
                <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
            </div>
            {%- endfor -%}
        </div>
    </div>
    {% include "follow.njk" %}
</div>